.login-btn {
    width: 80%;
}

.password-entry-container{
    display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        padding: 1rem;
        width: 80%;
}
.password-entry-text{
    padding-bottom: 1rem;
    color: var(--light-black);
}