.login {
  display: flex;
  justify-content: center;
}

.main-login-container {
  min-width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10rem;
  padding: 2rem;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary-color);
  border-radius: 7px;
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  padding: 1rem;
  width: 80%;
}

.input-title {
  padding-right: 1rem;
  width: 10rem;
}

.TextField {
  color: #000;
}

.title {
  font-size: var(--header);
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.login-btn {
  width: 50%;
}

.register-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
