@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

:root {
  /* colors */
  --black: #000000;
  --light-black: #3e3c3c;
  --white: #ffffff;

  --primary-color: #3cc47c;
  --secondary-color: #1e392a;
  --tertiary-color: #e9c893;
  --tertiary-color-2: #828081;
  /* fonts */
  --primary: 1rem;
  /* 16px */
  --secondary: calc(1rem - 2px);
  /* 14px */
  --title: 1.25rem;
  /* 20px */
  --header: 1.5rem;
  /* 22px */
}

html {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
