.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-color);
  height: 5rem;
  align-items: center;
}

.header-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;
}

.header-menu-item {
  padding: 1rem;
  font-size: var(--header);
}

.page-icon {
  font-size: 50px;
  padding: 0.1rem;
}

.header-logo-container {
  margin-left: 2rem;
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
}

.link:hover {
  color: var(--tertiary-color);
}

.header-logout{
  cursor: pointer;
  color: var(--secondary-color);
}

.header-logout:hover{
  cursor: pointer;
  color: var(--tertiary-color);
}
